    .valores {
      position: absolute;
      bottom: 10;
      left: 0;
      width: 100%;
      height: 5em;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
#out1,#out2,#out3,#out4{
      /*margin-bottom: 20px;/*espacio entre divs*/
      text-align: center;
      padding: 0.50em;
      border-radius: 4px;
      border: 1px solid white;
      background: rgba(128,128,128,0);
      color: blue;
      width: 5em;
      height: 1em;
}
